html,body {
    background-color: #bbb;
    color:gold;
  }

  header {
      height: 200px;
     
  }

  footer {
    height: 200px;
    color: #bbb;
  }

  nav {
    text-decoration: none;
  }

  a {
    color:gold;
    font:bold;
    text-decoration: none;
  }

  form{
    margin-left:50%;
   transform: translate(-50%);
    border: 5px solid gold;
    width: 75%;
  }

  form.create-book {
    list-style-type: none;
  }


  h2 {
    text-align: center;
    margin:auto;
    color: #bbb;
  }

  button {
   
    margin-left:50%;
    transform: translate(-50%);
    display:block;
    font-size: 18px;
    color:black;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5%;
    border: none;
    border-radius: 10px;
  }

  .create-book .input-create {
  
  margin-left:50%;
  transform: translate(-50%);
  width: 50%;
  padding: 12px;
  font-size: 18px;
  box-sizing: border-box;
  border: 1px solid gray;
  margin-bottom: 40px;
  }

  h1 {
      text-align: center;
      color: #bbb;
  }

  .main {
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .theme {
    display: flex;
    flex-direction: column;
    justify-content: column;
    background-color: rgb(100, 98, 98);
    width: 800px;
    margin: 0 auto;
    border: 1px solid;
    padding: 10px 20px;
  }

  #detail-desc{
    margin-left:50%;
    transform: translate(-50%);
  }

  #book-list{
    -webkit-appearance: none;
    margin-left:50%;
    transform: translate(-50%);
    width: 100%;
  }
  #book-list li {

    -webkit-appearance: none;
    list-style-type: none;
    list-style-position: inside;
     border: 5px solid gold;
     height:auto;
     margin-left:50%;
     margin-bottom: 10px;
     transform: translate(-50%);
     
   }

  footer ul li {
    list-style-type: none;
  }

  nav ul li {

    float: right;
    padding: 20px;	
    display: inline-block;
    margin: 3%;
    color: gold;
    font-style: heavy;
  
  }
  
  .menu-btn div {
    position: absolute;
    left: 100%;
    top: 64%;
    padding-right: 8px;
    margin-top: -0.50em;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
    z-index: 99;
  }
   
  .menu-btn span {
    display: block;
    width: 19px;
    height: 3px;
    margin: 4px 0;
    background: rgb(0,0,0);
    z-index: 99;
  }
   
  .responsive-menu{
    display: none;
  }
   
  .expand {
    display: block !important; 
  }
  /* #menu-icon {
  
    display: hidden;
    width: 40px;
    height: 40px;
    background: #4C8FEC url(../styles/images/if_menu-alt_134216.png) center;
  
  }
   */

  